label {
    display: inline-block;
    text-align: left;
    font-family: 'Coustard', serif;
    font-weight: 600;
    margin-right: 10px;
}

#income {
    width: 150px;
    margin-right: 5px;
}

input[type="text"],
input[type="button"] {
    margin-left: 0;
}

div {
    margin-bottom: 1.5em;
}

button#calculate {
    font-family: 'Cherry Bomb One', cursive;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #d63384;
    margin-top: 1em;
    border: none;
    border-radius: 50px;
    padding: 0.1em .5em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button#calculate:hover {
    background-color: #121212;
    color: #d63384;
    transform: scale(1.1);
}

.navbar .d-flex {
    display: flex;
    align-items: center;
}

.spinning-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.title-text {
    line-height: 1;
    margin: 0;
}

label.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
    text-align: center;
    width: 100%;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.anti-error {
    color: rgb(255, 153, 0);
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    display: block;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#tax {
    color: rgb(55, 219, 9);
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
